html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

a {
    cursor: pointer;
}

textarea {
    resize: none;
}

ui-view.primary {
    display: flex;
    flex-direction: column;
    height: 100%;
}

ui-view.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-bottom: 15px;
}