html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

a {
    cursor: pointer;
}

textarea {
    resize: none;
}

ui-view.primary {
    display: flex;
    flex-direction: column;
    height: 100%;
}

ui-view.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.noty_layout {
    z-index: 10000;
}